MONGODB_URI=mongodb+srv://mauriciovazquez_db_user:mauriciovazquez_db_user@eprofile.pualeya.mongodb.net/?appName=EProfile
SESSION_SECRET=deb8347de5398c38489551de735bae90bc836c1d10aa5b8d4ee83ccaeec2c830
ADMIN_EMAIL=admin@eprofile.com
ADMIN_PASSWORD=admin